body{
      background-color: rgb(25, 25, 25);
      color: #ffff;
      font-family: arial;
      margin: .8rem;
    }
    .title{
      font-size: 2rem;
      font-weight: bold;
    }
    .move-icon{
      height: 4rem;
    }
    .move-btn{
      width: 120px;
      height: 120px;
      background-color: transparent;
      border: 3px solid white;
      border-radius: 60%;
      margin-right: 1rem;
    }
    .result{
      margin-top: 4rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
    .score{
      margin-top: 4rem;
    }
    .reset-score{
      padding: .5rem .7rem;
      border: none;
      background-color: #ffff;
    }